<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aclass.champion.android.streetart">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_spray"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_spray_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".HomepageActivity">

        </activity>
        <activity
            android:name=".CapturePhotoActivity"
            android:parentActivityName=".HomepageActivity" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".MapActivity"
            android:parentActivityName=".HomepageActivity" />
        <activity
            android:name=".LandmarkActivity"
            android:parentActivityName=".MapActivity" />
        <activity android:name=".SettingsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.test.file"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCDBhUcATJREAEjtC9c7xPJ2qdVS3WVtQ4" />

        <activity
            android:name=".BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>